.top-line {
    width: 1170px;
    text-align: center;
    height: 453px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
   
}

ul{
    display: flex;
}

.nav-items{
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    margin-top: 32px;
}
.nav-items-portfolio{
    padding-left: 50px;
    padding-right: 50px;
}
.nav-item-links{
    color: #212121;
    text-decoration: none;
}

.nav-item-links:hover {
    color:#2196F3;
    cursor: pointer;
    text-decoration: none;
  }
  .web-studio-logo:hover {
    cursor: pointer;
  }
.web-studio-logo {
    margin-top: 24px;
    padding-right: 90px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
   
    
    
}
.web-studio-logo-blue{
    color: #2196F3;
    text-decoration: none;
}
.web-studio-logo-black {
    color: #000000;

}

.web-studio-logo-white {
    color: #FFFFFF;
    text-decoration: none;

}

.web-studio-logo-white {
    color: #FFFFFF;

}

.contact-container {
    margin-top: 32px;
    padding-left: 331px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

.contact-mail {
padding-right: 50px;

}

.contact-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color:#757575;
    

}

.contact-link:hover{
    color: #2196F3;
    text-decoration: none;
    cursor: pointer;
}



.greeting {
   
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
    display: flex;
    flex-direction: column;
    
}
.greeting-title {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;

    width: 696px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.tap-button {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    display: flex;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    padding-left: 32px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.peculiars {
    position: absolute;
    width: 100%;
    height: 101px;
    top: 774px;
    display: flex;
    
    
}

.peculiars-container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content:space-between;
}
 
.peculiars-item {
    width: 25%;
    padding: 10px 30px;
    
}

.peculiars-header {
    opacity:0;
}
.peculiars-title {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

}

.peculiars-description{
    padding-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.who-are-we {
    padding-top: 94px;
    position: absolute;
    width: 100%;
    height: 386px;
    top: 969px;
    padding-bottom: 94px;
}

.what-are-we-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.who-are-we-container{
    padding-top: 50px;
    padding-bottom: 94px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

}
.who-we-are-central-img {
    padding-left: 30px;
    padding-right: 30px;

}
.our-team {
    margin-top: 94px;
    position: absolute;
    width: 100%;
    height: 648px;
    top: 1449px;
    background: #F5F4FA;
   

}

.our-team-container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    
}

.our-team-header {
    padding-top: 94px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}

.our-team-item {
    width: 270px;
    height: 368px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-photo
{
    min-width: 270px;
    height: 260px;
}

.our-team-title {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding-top: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    text-align: center;

}

.our-team-description{
    padding-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.footer-container {
    position: absolute;
    width: 100%;
    height: 252px;
    top: 2097px;
    background: #2F303A;
    margin-top: 94px;
    display: flex;
    flex-direction: column;

}

.web-studio-footer {
    
    margin-left: 215px;
    margin-top: 60px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    
}

.adress-footer {
    margin-left: 215px;
    padding-top: 20px;
    width: 231px;
    height: 81px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;
    
}

.adress-footer-town {
    
    color: #FFFFFF;
    padding-bottom: 9px;
    text-decoration: none;
}
.mail-tel-footer {
    
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 9px;
    text-decoration: none;
}


